services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - /home/andriomdac/Data/:/var/lib/postgresql/data 

  api:
    build: .
    ports:
      - 8002:8000
    depends_on:
      - db
    command: >
      sh -c "alembic upgrade head && fastapi dev app.py --host 0.0.0.0 --port 8000"

