services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - /home/andriomdac/Data/:/var/lib/postgresql/data 

  api:
    build: .
    ports:
      - 8000:8000
    depends_on:
      - db
    command: fastapi dev app.py --host 0.0.0.0 --port 8000

